<h1>Welcome to the MarketPlace!!</h1>

<h2>Browse through all available Shops!</h2>
<h5><b>NOTE:</b> All items in a delivery must belong to the same shop</h5>

<ul>
  <% @sellers.each do |seller| %>
    <li><%= link_to seller.name, seller_products_path(seller) %></li>
  <% end %>
</ul>
