<% if current_user.is_seller %>
  <%= link_to "Your Shop", seller_products_path(current_user.class_id) %> \
  <%= link_to "Your Account", seller_path(current_user.class_id) %>
<% else %>
  <%= link_to "Profile/Cart", buyer_path(current_user.class_id) %>
<% end %>

<h1>Welcome to the MarketPlace!!</h1>

<h2>Browse through all available Sellers!</h2>
<br>
Sellers then go to the products page and then to product show page. <br>

CBD KinG
Sativa Heaven
Indica Shop
Cindarella 99
Ganja Goddess Bakes
Chocolate

<ul>
  <% @sellers.each do |seller| %>
    <li><%= link_to seller.name, seller_products_path(seller) %></li>
  <% end %>
</ul>
