<% if current_user.is_seller %>
  <%= link_to "My Account", seller_path(current_user.class_id) %> \
  <%= link_to "My SHOP", seller_products_path(current_user.class_id) %>
<% else %>
  <%= link_to "Profile/Cart", buyer_path(current_user.class_id) %>
<% end %>

<h1>Welcome to the MarketPlace!!</h1>

<h2>Browse through all available Shops!</h2>
<h3>Shop from one for the fastest delivery!</h3>

<ul>
  <% @sellers.each do |seller| %>
    <li><%= link_to seller.name, seller_products_path(seller) %></li>
  <% end %>
</ul>
