<h3>Here are all products from <%= @seller.name %>:</h3>

<div>
<% @products.each do |product| %>
  <%= link_to product.name, products_show_path(product.id) %> <br>
  £<%= product.price %><br>
<% end %>
</div>

<br><br>
