<h1><%= @seller.name %></h1>

Address:
<%= @seller.address %>, <%= @seller.postcode %>

<br><br>
Ships from:<br>
And the first part of the postcode? <br>
on all products page? <br>


Here the seller should be able to see their sales stats? <br>

Products new - list a new product <br>
Products all - see all listings <br>
Products edit - edit their listings <br>
