<div class="text-center">
  <h3>Thank you for your order!</h3>
  <br>
  Your estimated delivery time is: 15mins<br>
  <br>
  Go outside look for your drone!<br><br>

  <%= image_tag "weed-drone.jpg", height: 400 %>
</div>
